.header__title{
	text-align: center;
	font-style: italic;
	border: inset #ecff17;
	background-color: #edf595;
	font-family: 'Pacifico', cursive;
}
 .body{
 font-family: 'Old Standard TT', serif;
 }


.section__div{
	column-count: 2;
	column-gap: 30px;
	column-width: 100px;
}

.div__guote{
	background-color: #e3cfe8;
}

/*.main__pic{
	height: 100vh;
	width="100%"
	background-size: cover;

} */

